html
    head
        title perflog viewer
        script(src="http://d3js.org/d3.v4.min.js")
        script(src="https://dc-js.github.io/dc.js/js/crossfilter.js")
        link(rel="stylesheet" href="/static/perflog.css")
        script(src="/static/perflog.js")
    body
