html
    head
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css")
        script(type="text/javascript", src="http://code.jquery.com/jquery-3.1.1.slim.min.js")
        script(type="text/javascript", src="http://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js")
        script(type="text/javascript", src="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js")

    body
        script(type="text/javascript", src="/static/roomsearch.js")
        div.container
            form#form
                div.form-group
                    input.form-control#keyword(type="text", placeholder="Search Janus")
                    button.btn.btn-primary#submit(type="submit") Search 
            ul.list-unstyled#rooms
            
